@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

/* header is right below */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: sans-serif;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    height: 150px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Header is above */
/* now, this is epic */
#accueil img {
    width: 600px;
    height: 360px;
    padding: 30px;
}

.bloc-images {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.bloc-names a {
    font-size: 28px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease 0s ;
}

.bloc-names a:hover {
    color: #24252A;
    background-color: #fff;
}

#accueil .bloc-names {
    display: flex;
    justify-content: space-around;
}

#accueil .bloc-names {
    color: #fff;
    background-color: #24252A;
}

/* là c'est la fin de la section précédente */

/* on commence une nouvelle section : #creations. */

#creations {
    padding-top: 100px;
}

#creations img {
    width: 600px;
    height: 400px;
}

.bloc-presentation-tout {
    display: flex;
    justify-content: center;
    color: #fff;
}

.bloc-presentation {
    display: flex;
    width: 1200px;
}

.bloc-presentation-texte {
    width: 600px;
    height: 400px;
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    background-color: #2f3640;
    padding: 22px;
}

.bloc-presentation-texte-bis {
    padding: 32px;
    background-color: #2f3640;
}

#creations p, h1 {
    background-color: #2f3640;
    color: #fff;
}

.bloc-presentation-image {
    width: 600px;
    height: 400px;
}

#creations a {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: #2f3640;
    transition: all 0.3s ease 0s;
}

#creations a:hover {
    background-color: #fff;
    color: #2f3640;
}

.bloc-presentation-centre {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

/* fin de la section creations */
/* début de la section apropos-main du fichier apropos.html */

#apropos span, p {
    background-color: #2f3640;
}

#apropos span {
    font-size: 36px;
}

#apropos b {
    background-color: #2f3640;
}

#apropos p {
    color: #fff;
    background-color: #2f3640;
}

#apropos img {
    width: 552px;
    height: 828px;
}

.bloc-apropos-principal {
    display: flex;
    width: 1104px;
    background-color: #2f3640;
}

.bloc-apropos-principal-texte {
    width: 552px;
    padding: 22px;
    font-size: 22px;
    background-color: #2f3640;
    height: 828px;
}

.bloc-apropos-principal-centrer {
    display: flex;
    justify-content: center;
}

.vert {
    color: #2ecc71;
}

.bleu {
    color: #2980b9;
}

.jaune {
    color: #f1c40f;
}

.rouge {
    color: #c0392b;
}

/* fin de la section apropos-main du fichier apropos.html */

.offres-emplois-bloc {
    width: 320px;
    border: 1px solid #fff;
}



/* début section reas-portfolio */



.reas-portfolio-centre {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reas-portfolio-general {
    display: flex;
    justify-content: space-between;
}

.reas-portfolio-unite {
    position: relative;
    width: 480px;
    height: 480px;
    background-color: #000000;
    margin: 10px;
}

.reas-portfolio-unite img {
    width: 480px;
    height: 480px;
}

.reas-portfolio-bords {
    position: absolute;
    width: 480px;
    height: 480px;
    border: 3px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: all 0.2s ease 0s;
    background-color: transparent;
}

.reas-portfolio-texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: all 0.2s ease 0s;
    color: #fff;
    background-color: transparent;
    font-size: 18px;
}

#reas-portfolio img {
    transition: all 0.3s ease 0s;
}

.reas-portfolio-unite:hover #reas-portfolio img {
    opacity: 60%;
}

.reas-portfolio-unite:hover .reas-portfolio-bords {
    width: 360px;
    height: 360px;
    opacity: 100%;
}

.reas-portfolio-unite:hover .reas-portfolio-texte {
    opacity: 100%;
}

/* fin section reas-portfolio */

/* debut de la section reas-habitation */

#reas-habitation {
    background-color: transparent;
}

.reas-habitation-centre {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.reas-habitation-general {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    flex-wrap: wrap;
    max-width: 1596px;
    min-width: 1064px;
}

.reas-habitation-unite {
    position: relative;
    width: 512px;
    height: 512px;
    margin: 10px;
    background-color: transparent;
}

.reas-habitation-unite img {
    width: 512px;
    height: 512px;
    transition: all 0.3s ease 0s;
    background-color: #000000;
}

.reas-habitation-bords {
    position: absolute;
    width: 512px;
    height: 512px;
    border: 3px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: all 0.2s ease 0s;
    background-color: transparent;
}

.reas-habitation-texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: all 0.2s ease 0s;
    color: #fff;
    background-color: transparent;
    font-size: 18px;
}

.reas-habitation-unite:hover img {
    opacity: 60%;
}

.reas-habitation-unite:hover .reas-habitation-bords {
    width: 384px;
    height: 384px;
    opacity: 100%;
}

.reas-habitation-unite:hover .reas-habitation-texte {
    opacity: 100%;
}

/* fin de la section reas-habitation */

/* section morale */

#morale {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#morale p {
    max-width: 1350px;
    color: #fff;
    text-align: center;
}

#morale p, b, span, .italique {
    background-color: transparent;
}

/* fin section morale */

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.nom-address {
    padding-left: 125px;
    color: #fff;
}

.footer-infos {
    padding-left: 320px;
}

.footer-infos a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

footer img {
    width: 125px;
    height: 125px;
}

.italique {
    font-style: italic;
}